form {
    display: flex;
}

.right {

    div {
        display: grid;
        grid-template-columns: auto auto;
        width: 50%;
        // height: 10px;
        flex-wrap: wrap;

    }
}

.AccountsDetails {

    div {
        width: 90%;
        margin: auto;
        margin-top: 3%;
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(71, 32, 56, 0.920);
        color: rgba(245, 245, 245, 0.799);
        box-shadow: 0px 0px 15px rgb(132, 59, 104);
        height: 190px;


        h2 {
            margin-left: 10px;
        }

        p {
            // font-weight: bolder;
            font-size: 20px;
            margin-left: 25px;
        }
        
        select {
            margin-left: 25px;
            width: 95%;
            border: none;
            padding: 15px;
            background-color: rgb(190, 166, 181);
            color: rgba(71, 32, 56, 0.920);
            border: none;
            display: block;
            // margin: auto;
            // margin-bottom: 5%;
            border-radius: 2px;
            font-size: 17px;

            &:hover {
                // outline: none;
                box-shadow: 0px 0px 15px rgba(175, 97, 97, 0.92);
            }

            &:focus {
                outline: none;
                // background-color: rgba(71, 32, 56, 0.269);
                background-color: rgb(216, 189, 206);
                box-shadow: 0px 0px 15px rgba(175, 97, 97, 0.92);
            }

            option {}
        }
    }

    form {

        margin-bottom: 5%;

        .left {
            margin-left: 4%;
            width: 30%;
            height: auto;

            p {
                font-size: 20px;
                margin-left: 25px;
                font-weight: bolder;
            }
            
            img {
                width: 60%;
                // height: 50%;
                padding: 5px;
                margin-left: 75px;
                margin-top: 10px;
                border-radius: 5px;
                box-shadow: 0px 0px 5px rgba(203, 136, 178, 0.92);
                border: 2px solid rgba(203, 136, 178, 0.92);
            }

            button {
                display: block;
                margin: auto;
                color: rgba(245, 245, 245, 0.838);
                // width: 40%;
                padding: 17px;
                font-weight: bolder;
                font-size: 17px;
                margin-top: 40px;
                margin-bottom: 20px;
                // border: none;
                border-radius: 5px;
                text-decoration: none;
                height: 60px;
                opacity: 0.8;
                border: 1px solid  rgba(179, 131, 131, 0.92);
                background-color: rgba(71, 32, 56, 0.920);
                box-shadow: 0px 0px 5px rgba(179, 131, 131, 0.92);

                &:hover {
                    // outline: none;
                    box-shadow: 0px 0px 15px rgba(179, 131, 131, 0.92);
                }
    
                &:active {
                    // background-color: rgba(71, 32, 56, 0.269);
                    // background-color: rgb(216, 189, 206);
                    box-shadow: 0px 0px 15px rgb(175, 97, 97);
                }
            }
        }

        .right {
            width: 55%;
            // margin: 3% 0 0 1px;
            margin-left: 0px;
            height: auto;

            h2 {
                margin-bottom: 0px;
            }
            
            div {
                margin-top: 2.5px;
                box-shadow: none;
                height: 100%;
                background-color: rgba(245, 222, 179, 0);
                
                div {
                    background-color: rgba(245, 222, 179, 0);
                    display: block;

                    p {

                    }

                    input {
                        width: 75%;
                        border: none;
                        padding: 15px;
                        background-color: rgb(190, 166, 181);
                        color: rgba(71, 32, 56, 0.920);
                        border: none;
                        display: block;
                        margin: auto;
                        // margin-bottom: 5%;
                        border-radius: 2px;
                        font-size: 16px;

                        &:hover {
                            // outline: none;
                            box-shadow: 0px 0px 15px rgba(175, 97, 97, 0.92);
                        }
            
                        &:focus {
                            outline: none;
                            // background-color: rgba(71, 32, 56, 0.269);
                            background-color: rgb(216, 189, 206);
                            box-shadow: 0px 0px 15px rgba(175, 97, 97, 0.92);
                        }
                    }

                }

                button {
                    display: block;
                margin: auto;
                color: rgba(245, 245, 245, 0.838);
                // width: 40%;
                padding: 17px;
                font-weight: bolder;
                font-size: 17px;
                margin-top: 40px;
                margin-bottom: 20px;
                // border: none;
                border-radius: 5px;
                text-decoration: none;
                height: 60px;
                opacity: 0.8;
                border: 1px solid  rgba(179, 131, 131, 0.92);
                background-color: rgba(71, 32, 56, 0.920);
                box-shadow: 0px 0px 5px rgba(179, 131, 131, 0.92);

                &:hover {
                    // outline: none;
                    box-shadow: 0px 0px 15px rgba(179, 131, 131, 0.92);
                }
    
                &:active {
                    // background-color: rgba(71, 32, 56, 0.269);
                    // background-color: rgb(216, 189, 206);
                    box-shadow: 0px 0px 15px rgb(175, 97, 97);
                }
                }
            }
        }
    }
}